body {
    background-color: #F8F9FA; 
}

h1 {
    color: #1A5276; 
    border-bottom: 2px solid #E67E22; 
    padding-bottom: 5px;
    margin-top: 10px;
}

h2 {
    color: #2C3E50; 
}

h3 {
    color: #16A085; 
}


[data-testid="stSidebar"] {
    background-color: #EBF5FB; 
    color: #2C3E50;
    font-size: 14px;
}

footer {
    visibility: hidden;
}

.stRadio > label {
    font-size: 16px;
    padding: 5px 0;
}

[data-testid="stMetricLabel"] {
    font-weight: bold;
    color: #708090;
}